html{
    scroll-behavior: smooth;
}

#header {
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 30px;
}

#user-icon{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 30px;
}

#front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page-button-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;

}

.front-page-button {
    padding: 15px 30px;
    cursor: pointer;
}

#exit-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leaving-emoji{
    width: 100px;
    height: 100px;
    padding: 30px;
}

#leaving-plea{
    font-size: 19px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

#goodbye-side-eye{
    display: block;
    width: 120px;
    height: 120px;
    padding: 30px;
    margin: auto;
}

.exit-button-container {
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    justify-content: center;
    margin-top: 20px;
}

.exit-button {
    padding: 15px 30px;
    cursor: pointer;
}

#login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#login-page-password, #login-page-uname{
    display: flex;
    align-items: center;
    gap: 8px;
}

#register-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#sign-in-uname, #sign-in-pwd{
    display: flex;
    align-items: center;
    gap: 8px;
}

.forgot-password-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#uname-veritas, #sq-veritas, #password-reset-section{
    display: flex;
    align-items: center;
    gap: 8px;
}

.eye-button{
    border-style: none;
    background-color: transparent;
}

.button-style{
    border-radius: 12px;
}

.csh{
    border-style: none none solid none;
}

